.header {
    background: rgba(68, 83, 64, 0.5);
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

footer{
    background: #445340;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}

/* LOGO */
.logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo__title {
    margin: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.logo__descript {
    margin: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.85px;
}

.logo__img {
    height: 35px;
    margin: 10px;
}

/* BUTTONS */

.header__buttons, .footer__buttons{
    display: flex;
    width: 405px;
    justify-content: space-between;
    font-size: 12px;
    color: #FFFFFF;
    margin: 20px;
}

.header__button.selected, .footer__button.selected {
    font-weight: 700;
}

.header__phone-number, .footer__phone-number{
    letter-spacing: 0.39px;
    color: #FFFFFF;
    font-size: 13px;
}

.footer__arrow-up{
    margin: 40px;
}

.header__order__button, .footer__order__button{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 8px 15px;
    font-size: 12px;
    margin: 17px;
}

/* CART */

.cart {
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.cart__price{
    font-size: 13px;
    font-weight: 700;
    margin: 8px;
}