#colors(){
    green:  #445340;
    green-transparant: rgba(68, 83, 64, 0.5);;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-with-photo {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
}

.logo {
    color: white;
    .centered();
    margin-right: 40px;
    .logo__title {
        margin: 2px;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.095em;
        text-transform: uppercase;
    }
    .logo__descript { 
        margin: 2px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.07em;
    }
    .logo__img {
        height: 35px;
        margin: 10px;
    }
}

.header{
    background: #colors[green-transparant];
    .centered();
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #FFFFFF;
    .header__buttons {
        display: flex;
        width: 405px;
        justify-content: space-between;
        font-size: 12px;
        margin: 20px;
    }
    .header__button.selected {
        font-weight: 700;
    }
    .header__phone-number{
        letter-spacing: 0.03em;
        font-size: 13px;
    }
    .header__order__button{
        border: 2px solid #FFFFFF;
        padding: 8px 15px;
        font-size: 12px;
        margin: 17px;
    }
    .cart {
        .centered();
        .cart__price{
            font-size: 13px;
            font-weight: 700;
            margin: 8px;
        }
    }
}

.baner {
    margin: 0;
    height: 700px;
    background-image: url("../images/baner.png");
    .section-with-photo();
    .baner__text {
        margin-left: 12%;
        padding-top: 3%;
        .column-space-between();
    }
    .baner__title {
        margin: 0;
        font-weight: 900;
        font-size: 40px;
    }
    .baner__descript {
        margin: 30px 0;
        font-weight: 500;
        font-size: 15px;
    }
    .order__button {
        background: #colors[green];
        box-shadow: 0px 6px 30px 1px rgba(68, 83, 64, 0.4);
        width: 220px;
        height: 48px;
        .centered();
        color: white;
    }
}

.popular-bouquet__section {
    .section();
    .section__title {
        margin-bottom: 50px;
    }
    .bouquet__carusel {
        .centered();
        .carusel-arrow {
            padding-bottom: 100px;
        }
        .bouquet__card {
            margin: 0 30px;
            .column-space-between();
            align-items: center;
            .card__img {
                width: 370px;
            }
            .card__title {
                margin-top: 20px;
                font-weight: 600;
                font-size: 15px;
            }
            .card__price {
                margin: 12px;
                font-weight: 800;
                font-size: 24px;
                color: #colors[green];
            }
            .card__cart__button {
                background: #colors[green];
                box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
                color: white;
                width: 136px;
                height: 37px;
                .centered();
            }
        }
    }
    .carusel__page-indicators {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        .page-indicator {
            width: 29.11px;
            height: 6px;
            background: #colors[green];
            opacity: 0.4;
            margin: 6px;
        }
        .page-indicator.selected{
            opacity: 1;
        }
    }
}

.catalog__section {
    .section();
    padding: 20px;
    .catalog__table {
        border-collapse: collapse;
        z-index: 0;
        td {
            border: solid 30px #FFFFFF;
            .catalog__card__size_small {
                height: 200px;
                width: 370px;
                position: relative;
            }
            .catalog__card__size_big {
                .catalog__card__size_small();
                height: 430px;
                background: url("../images/catalog-big-picture.png");
            }
            .catalog__card__size_small.avtor-bouquet {
                background: url("../images/avtor-bouquet.png");
            }
            .catalog__card__size_small.composition {
                background: url("../images/composition.png");
            }
            .catalog__card__size_small.festive-bouquet {
                background: url("../images/festive-bouquet.png");
            }
            .catalog__card__size_small.florism {
                background: url("../images/florism.png");
            }
            .card__footer {
                background: rgba(68, 83, 64, 0.7);
                height: 60px;
                width: 100%;
                position: absolute;
                bottom: 0;
                .centered();
                color: white;
            }
        }
    }
}

.make-your-bouquet__section {
    height: 560px;
    margin: 20px 0;
    background: url("../images/make-your-bouquet.png");
    .section-with-photo();
    .make-your-bouquet__div {
        box-sizing: border-box;
        padding: 50px 30px;
        width: 491px;
        height: 471px;
        background: rgba(255, 253, 253, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 9%;
        .make-your-bouquet__title {
            margin: 0;
        }
        .make-your-bouquet__info {
            font-size: 15px;
            text-align: center;
            line-height: 18px;
        }
        .make-your-bouquet__form {
            .column-space-between();
            width: 100%;
            .textfield {
                box-sizing: border-box;
                background-color: rgba(166, 185, 161, 0.3);
                border: none;
                height: 40px;
                margin: 10px;
                padding: 10px;
            }
            input[type=submit] {
                .textfield();
                background: #colors[green];
                color: white;
                font-size: 16px;
                font-family: Montserrat;
                font-style: normal;
            }            
        }
    }
}

.instagram__section{
    .section();
    .instagram__carusel{
        .centered();
        .instagram__img{
            height: 370px;
            margin: 0 30px;
        }
    }
    .carusel__page-indicators {
        .popular-bouquet__section > .carusel__page-indicators()
    }
}

footer{
    background: #colors[green];
    .centered();
    height: 270px;
    color: white;
    .footer__buttons{
        .header > .header__buttons();
        .footer__button.selected {
            .header > .header__button.selected()
        }
    }
    .footer__arrow-up{
        margin: 40px;
    }
    .footer__phone-number {
        .header > .header__phone-number()
    }
    .footer__order__button {
        .header > .header__order__button()
    }
}