body {
  margin: 0px;
  font: 100% Montserrat, sans-serif;
  font-size: 12px;
}

.header {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(68, 83, 64, 0.5);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  color: white;
}
@media (max-width: 767px) {
  .header {
    height: 125px;
    flex-direction: column;
  }
}
.header .header__navigation-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .header .header__navigation-container {
    width: 100%;
  }
}
.header .header__navigation-container .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.header .header__navigation-container .logo .logo__title {
  margin: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
}
.header .header__navigation-container .logo .logo__descript {
  margin: 2px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.07em;
}
.header .header__navigation-container .logo .logo__img {
  height: 35px;
  margin: 10px;
}
.header .header__navigation-container .header__buttons {
  display: flex;
  width: 405px;
  justify-content: space-between;
  margin: 20px;
}
@media (max-width: 767px) {
  .header .header__navigation-container .header__buttons {
    display: none;
  }
}
.header .header__navigation-container .selected {
  font-weight: 700;
}
.header .header__navigation-container .header__navigation-icon {
  margin-right: 30px;
}
.header .header__navigation-container .header__navigation-icon .icon-part {
  width: 33px;
  height: 2px;
  background: white;
  margin: 4px;
}
.header .header__order-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .header .header__order-container {
    margin: 10px 0;
    width: 100%;
  }
}
.header .header__order-container .header__phone-number {
  letter-spacing: 0.03em;
  font-size: 13px;
}
.header .header__order-container .header__order__button {
  border: 2px solid #FFFFFF;
  padding: 8px 15px;
  margin: 17px;
}
.header .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .cart .cart__price {
  font-size: 13px;
  font-weight: 700;
  margin: 8px;
}
@media (max-width: 767px) {
  .header .header__navigation-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.baner {
  margin: 0;
  height: 700px;
  background: url("../../images/baner.png");
  background-repeat: no-repeat;
  background-position: 48% 0%;
  display: flex;
  align-items: center;
}
.baner .baner__text {
  padding-top: 3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  .baner .baner__text {
    align-items: flex-start;
    margin-left: 12%;
  }
}
.baner .baner__text .baner__title {
  font-weight: 900;
  font-size: 40px;
  max-width: 570px;
}
@media (max-width: 767px) {
  .baner .baner__text .baner__title {
    font-size: 28px;
  }
}
.baner .baner__text .baner__descript {
  margin: 30px 0;
  font-weight: 500;
  font-size: 15px;
  max-width: 570px;
}
@media (max-width: 767px) {
  .baner .baner__text .baner__descript {
    font-size: 14px;
  }
}
.baner .order__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 48px;
  background: #445340;
  color: white;
  box-shadow: 0px 6px 30px 1px rgba(68, 83, 64, 0.4);
  font-weight: 600;
  font-size: 16px;
  align-self: flex-start;
}

.popular-bouquet__section {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-bouquet__section .section__title {
  margin: 10px 20px 50px 20px;
  font-weight: 900;
  font-size: 26px;
}
@media (max-width: 767px) {
  .popular-bouquet__section .section__title {
    font-size: 18px;
  }
}
.popular-bouquet__section .bouquet__carusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popular-bouquet__section .bouquet__carusel .carusel-arrow {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .popular-bouquet__section .bouquet__carusel #bouquet__card2, .popular-bouquet__section .bouquet__carusel #bouquet__card3 {
    display: none;
  }
}
.popular-bouquet__section .bouquet__carusel .bouquet__card {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 480px) {
  .popular-bouquet__section .bouquet__carusel .bouquet__card .card__img {
    width: 370px;
  }
}
@media (max-width: 767px) {
  .popular-bouquet__section .bouquet__carusel .bouquet__card .card__img {
    width: 300px;
  }
}
.popular-bouquet__section .bouquet__carusel .bouquet__card .card__title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
}
.popular-bouquet__section .bouquet__carusel .bouquet__card .card__price {
  margin: 12px;
  font-weight: 800;
  font-size: 24px;
  color: #445340;
}
.popular-bouquet__section .bouquet__carusel .bouquet__card .card__cart__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 37px;
  background: #445340;
  color: white;
  box-shadow: 0px 6px 30px 1px rgba(68, 83, 64, 0.4);
}
.popular-bouquet__section .carusel__page-indicators {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.popular-bouquet__section .carusel__page-indicators .page-indicator {
  width: 29.11px;
  height: 6px;
  background: #445340;
  opacity: 0.4;
  margin: 6px;
}
.popular-bouquet__section .carusel__page-indicators .page-indicator.selected {
  opacity: 1;
}

.catalog__section {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.catalog__section .section__title {
  margin: 10px 20px 50px 20px;
  font-weight: 900;
  font-size: 26px;
}
@media (max-width: 767px) {
  .catalog__section .section__title {
    font-size: 18px;
  }
}
.catalog__section .catalog__carusel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .catalog__section .catalog__carusel {
    display: none;
  }
}
.catalog__section .catalog__carusel .catalog__card__size_big {
  background: url("../../images/catalog-big-picture.png");
  background-repeat: no-repeat;
  width: 290px;
  height: 350px;
  position: relative;
}
.catalog__section .catalog__carusel .catalog__card__size_big .card__footer {
  background: rgba(68, 83, 64, 0.7);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
.catalog__section .catalog__carusel .carusel__page-indicators {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.catalog__section .catalog__carusel .carusel__page-indicators .page-indicator {
  width: 29.11px;
  height: 6px;
  background: #445340;
  opacity: 0.4;
  margin: 6px;
}
.catalog__section .catalog__carusel .carusel__page-indicators .page-indicator.selected {
  opacity: 1;
}
.catalog__section .catalog__table {
  border-collapse: collapse;
  z-index: 0;
}
@media (max-width: 767px) {
  .catalog__section .catalog__table {
    display: none;
  }
}
.catalog__section .catalog__table td {
  border: solid 30px #FFFFFF;
}
.catalog__section .catalog__table td .catalog__card__size_big {
  background: url("../../images/catalog-big-picture.png");
  background-repeat: no-repeat;
  height: 430px;
  width: 370px;
  position: relative;
}
.catalog__section .catalog__table td .catalog__card__size_big .card__footer {
  background: rgba(68, 83, 64, 0.7);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
.catalog__section .catalog__table td .catalog__card__size_small {
  height: 200px;
  width: 370px;
  position: relative;
}
.catalog__section .catalog__table td .catalog__card__size_small .card__footer {
  background: rgba(68, 83, 64, 0.7);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
.catalog__section .catalog__table td .catalog__card__size_small.avtor-bouquet {
  background: url("../../images/avtor-bouquet.png");
  background-repeat: no-repeat;
}
.catalog__section .catalog__table td .catalog__card__size_small.composition {
  background: url("../../images/composition.png");
  background-repeat: no-repeat;
}
.catalog__section .catalog__table td .catalog__card__size_small.festive-bouquet {
  background: url("../../images/festive-bouquet.png");
  background-repeat: no-repeat;
}
.catalog__section .catalog__table td .catalog__card__size_small.florism {
  background: url("../../images/florism.png");
  background-repeat: no-repeat;
}

.make-your-bouquet__section {
  height: 560px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  align-items: flex-start;
  justify-content: center;
  background: url("../../images/make-your-bouquet.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.make-your-bouquet__section .section__title {
  margin: 10px 20px 50px 20px;
  font-weight: 900;
  font-size: 26px;
}
@media (max-width: 767px) {
  .make-your-bouquet__section .section__title {
    font-size: 18px;
  }
}
.make-your-bouquet__section .make-your-bouquet__div {
  box-sizing: border-box;
  padding: 50px 30px;
  max-width: 491px;
  height: 471px;
  background: rgba(255, 253, 253, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  .make-your-bouquet__section .make-your-bouquet__div {
    margin-left: 9%;
  }
}
@media (max-width: 767px) {
  .make-your-bouquet__section .make-your-bouquet__div {
    margin: 20px;
  }
}
.make-your-bouquet__section .make-your-bouquet__div .make-your-bouquet__info {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 18px;
}
.make-your-bouquet__section .make-your-bouquet__div .make-your-bouquet__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
}
.make-your-bouquet__section .make-your-bouquet__div .make-your-bouquet__form .textfield {
  box-sizing: border-box;
  background-color: rgba(166, 185, 161, 0.3);
  border: none;
  height: 40px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .make-your-bouquet__section .make-your-bouquet__div .make-your-bouquet__form .textfield {
    height: 50px;
    font-size: 15px;
  }
}
.make-your-bouquet__section .make-your-bouquet__div .make-your-bouquet__form input[type=submit] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #445340;
  color: white;
  box-shadow: 0px 6px 30px 1px rgba(68, 83, 64, 0.4);
  font: 100% Montserrat, sans-serif;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  border: none;
  margin: 10px;
}

.instagram__section {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instagram__section .section__title {
  margin: 10px 20px 50px 20px;
  font-weight: 900;
  font-size: 26px;
}
@media (max-width: 767px) {
  .instagram__section .section__title {
    font-size: 18px;
  }
}
.instagram__section .instagram__carusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.instagram__section .instagram__carusel .instagram__img {
  height: 370px;
  margin: 0 30px;
}
.instagram__section .carusel__page-indicators {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.instagram__section .carusel__page-indicators .page-indicator {
  width: 29.11px;
  height: 6px;
  background: #445340;
  opacity: 0.4;
  margin: 6px;
}
.instagram__section .carusel__page-indicators .page-indicator.selected {
  opacity: 1;
}

.footer {
  background: #445340;
  height: 270px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.footer .logo .logo__title {
  margin: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
}
.footer .logo .logo__descript {
  margin: 2px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.07em;
}
.footer .logo .logo__img {
  height: 35px;
  margin: 10px;
}
.footer .footer__buttons {
  display: flex;
  width: 405px;
  justify-content: space-between;
  margin: 20px;
}
@media (max-width: 767px) {
  .footer .footer__buttons {
    width: 90%;
  }
}
.footer .footer__button.selected {
  font-weight: 700;
}
.footer .footer__arrow-up {
  margin: 5px 40px;
}
.footer .footer__order__button {
  border: 2px solid #FFFFFF;
  padding: 8px 15px;
  margin: 17px;
}
.footer .footer__phone-number {
  letter-spacing: 0.03em;
  font-size: 13px;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .phone-only {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
